jp.ne.motoki.android.bookshelfmanager/bin/classes jp.ne.motoki.android.bookshelfmanager/bin/classes.dex jp.ne.motoki.android.bookshelfmanager/bin/jp.ne.motoki.android.bookshelfmanager.apk jp.ne.motoki.android.bookshelfmanager/bin/res jp.ne.motoki.android.bookshelfmanager/bin/resources.ap_
