jp.ne.motoki.android.bookshelfmanager/bin/classes jp.ne.motoki.android.bookshelfmanager/bin/classes.dex jp.ne.motoki.android.bookshelfmanager/bin/jp.ne.motoki.android.bookshelfmanager.apk jp.ne.motoki.android.bookshelfmanager/bin/res jp.ne.motoki.android.bookshelfmanager/bin/resources.ap_ jp.ne.motoki.android.bookshelfmanager.test/bin/classes jp.ne.motoki.android.bookshelfmanager.test/bin/classes.dex jp.ne.motoki.android.bookshelfmanager.test/bin/jp.ne.motoki.android.bookshelfmanager.test.apk jp.ne.motoki.android.bookshelfmanager.test/bin/res jp.ne.motoki.android.bookshelfmanager.test/bin/resources.ap_
